*{
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    

}
.cuerpo{
    background-image: url('/Users/teodelina/Desktop/ProyectoIntegradorProgI/grupo/img/46395.webp');
    
}

header{
    width: 100%;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

.navegacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
}

.navegacion a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin-right: 100px;
    background-color: rgb(239, 115, 70);
    border-radius: 40px;
    padding: 15px;
}

.artecocina{
    display: flex;
    justify-content: center;
}

.fotos_recetas{
    height: 300px;
    border-radius: 10px;
    margin: 20px;
}

article{
    display: flex;
    flex-direction: column;


}

.mprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.plato{
    text-decoration: none;
    color: black;
}

.footerprin{
    display: flex;
    justify-content: center;
    background-color: rgb(239, 115, 70);
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

.pfooter{
    margin: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formulariologin{
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.form{
    margin: 10px;
    text-decoration: none;
    color: black;
}

.formularioregistro{
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.boton{
    margin-right: 100px;
    color: white;
    background-color: rgb(239, 115, 70);
    border-color: rgb(239, 115, 70);
    height: 40px;
    width: 200px;
}

.botonreg{
    margin-right: 100px;
    color: white;
    background-color: rgb(239, 115, 70);
    border-color: rgb(239, 115, 70);
    height: 40px;
    width: 400px; 
}


