*{
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    

}
body{
    background-image: url('../img/46395.webp');
}

header{
    width: 100%;
}

.artecocina{
    font-size: 40px;
    color: rgb(239, 115, 70);
}

.cajalogo{
   display: flex;
   justify-content: center;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
}

.navegacion a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin-right: 100px;
    background-color: rgb(239, 115, 70);
    border-radius: 40px;
    padding: 15px;
}


.cuadrado_para_escribir{
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(247, 246, 246);
}

.boton_form_index{
    font-size: 20px;
    background-color: rgb(239, 115, 70);
    color: white;
    border-radius: 10px;
    border-color: rgb(247, 246, 246);
}

.artecocina{
    display: flex;
    justify-content: center;
}

.fotos_recetas{
    height: 300px;
    border-radius: 10px;
    margin: 20px;
}

article{
    display: flex;
    flex-direction: column;


}

.mprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.plato{
    text-decoration: none;
    color: black;
}

.footerprin{
    display: flex;
    justify-content: center;
    background-color: rgb(239, 115, 70);
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

.pfooter{
    margin: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formulariologin{
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

.form{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.formularioregistro{
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 100px;
}


.botonreg{
    margin-right: 100px;
    color: white;
    background-color: rgb(239, 115, 70);
    border-color: rgb(239, 115, 70);
    height: 40px;
    width: 400px; 
}

.mainregi{
    display: flex;
    justify-content: center;
}

.cargar_mas_fotos{
    display: flex;
    justify-content: center;
}

.boton_mas{
    background-color: rgb(239, 115, 70);
    border-radius: 10px;
    color: white;
    box-shadow: 10px;
    border-color: white;
}

.botonreg{
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.botonregis{
    color: white;
    background-color: rgb(239, 115, 70);
    border-color: rgb(239, 115, 70);
    border-style: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.maincateg{
    padding: 20px;
}

#sectioncate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.articlecate{
    background-color: rgb(239, 115, 70);
    border: 1px solid rgb(239, 115, 70);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 15px;
    height: 50px;
}

.articlecate a{
    display: block;
    font-weight: 20px;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

.h1cate{
    color: rgb(239, 115, 70);
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.resultadosbody{
    width: 100%;
}

.sectionres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center; 
    padding: 20px;
    width: 100%;
}

.res{
    color: rgb(239, 115, 70);
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
}

.return a{
    text-decoration: none;
    color: white;
}

.return{
    background-color: rgb(239, 115, 70);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}